{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
   <div class="main-tweet">
        {% if user.is_active %}
            <div class="row form-twit">
                <form action="{% url 'posts' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-tweet">
                    Отправить
                    </button>
                </form>
            </div>
        {% endif %}
        {% for post in posts %}
            <div class="row-twit">
                <div class="col-12"><p>{{ post.text }}</p></div>
                <div class="col-12"><b>
                    <small>{{ post.date }} - {{ post.user }}</small>
                </b></div>
                <div class="col-12">{{ post.like }}
                    {% if user.is_authenticated %}
                        <i class="fa fa-thumbs-o-up" aria-hidden="true" onclick="like({{ post.id }})"></i>
                    {% else %}
                        <a href="/accounts/login", data-toggle="modal" data-target="#loginModal">
                        <i class="fa fa-thumbs-o-up", aria-hidden="true"></i>
                             зарегистрируйтесь, поставить оценку
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="row tweet">
                <div class="col-12">
                    Комментарии
                    <i class="fa fa-arrow-down" aria-hidden="true"
                    onclick="openForm({{ post.id }})">
                    </i>
                    <i class="fa fa-arrow-up" aria-hidden="true"
                    onclick="closeForm({{ post.id }})"></i>
                    {% if user.is_active %}
                        <div class="row">
                            <div class="col-12 comment" id="{{ post.id }}">
                                <form action="{% url 'posts' %}" method="post">
                                    {% csrf_token %}
                                    <input type="number" name="id" hidden value="{{ post.id }}">
                                    {{ form.as_p }}
                                    <button type="submit" class="btn btn-success">Комментировать</button>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-12">
                    {% for comm in post.child.all %}
                        {{ comm.text }}<br>
                        {{ comm.user }} -
                        {{ comm.date }}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        {% bootstrap_pagination page_obj %}
    </div>
{% endblock content %}









{#                <div class="col-12">#}
{#                    Комментарии#}
{#                    <i class="fa fa-arrow-down" aria-hidden="true"#}
{#                           onclick="openForm({{ post.id }})"></i>#}
{##}
{#                    <i class="fa fa-arrow-up" aria-hidden="true"#}
{#                           onclick="closeForm({{ post.id }})">#}
{#                    </i>#}
{#                    {% if user.is_active %}#}
{#                        <div class="row">#}
{#                            <div class="col-12 comment" id="{{ post.id }}">#}
{#                                <form action="" method="post">#}
{#                                    {% csrf_token %}#}
{#                                    <input type="number" name="id" hidden value="{{ post.id }}">#}
{#                                    {{ form.as_p }}#}
{#                                    <button type="submit" class="btn btn-success">Комментировать</button>#}
{#                                </form>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endif %}#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#        {% bootstrap_pagination page_obj %}#}
{#    </div>#}
{#{% endblock content %}#}



{#    {% endfor %}#}
{#    <div class="main-tweet" style="background-color: white">#}
{#        {% if user.is_active %}#}
{#            <div class="row form-twit">#}
{#                <form action="{% url 'posts' %}" method="post">#}
{#                    {% csrf_token %}#}
{#                    {{ form.as_p }}#}
{#                    <button type="submit" class="btn btn-success small">Отправить</button>#}
{#                </form>#}
{#            </div>#}
{#        {% endif %}#}
{#        {% for post in posts %}#}
{#            <div class="row">#}
{#                <div class="col-12" style="margin-left: 50px">{{ post.text }}</div>#}
{#                <div class="col-12" style="margin-left: 50px"><b>{{ post.date }}</b> - {{ post.user }}</div>#}
{#                <div class="col-12" style="margin-left: 50px">{{ post.like }} -#}
{#                    {% if user.is_authenticated %}#}
{#                        <i class="fa fa-thumbs-o-up" aria-hidden="true" onclick="like({{ post.id }})"></i>#}
{#                    {% else %}#}
{#                        <a href="/accounts/login", data-toggle="modal" data-target="#loginModal">#}
{#                        <i class="fa fa-thumbs-o-up", aria-hidden="true"></i>#}
{#                        зарегистрируйтесь, поставить оценку#}
{#                        </a>#}
{#                    {% endif %}#}
{#                </div>#}
{#            <div class="row tweet" style="margin-left: 80px">#}
{#                <div class="col-12">#}
{#                    Комментарии#}
{#                    <i class="fa fa-arrow-down" aria-hidden="true"#}
{#                           onclick="openForm({{ post.id }})"></i>#}
{##}
{#                    <i class="fa fa-arrow-up" aria-hidden="true"#}
{#                           onclick="closeForm({{ post.id }})">#}
{#                    </i>#}
{#                    {% if user.is_active %}#}
{#                        <div class="row">#}
{#                            <div class="col-12 comment" id="{{ post.id }}">#}
{#                                <form action="" method="post">#}
{#                                    {% csrf_token %}#}
{#                                    <input type="number" name="id" hidden value="{{ post.id }}">#}
{#                                    {{ form.as_p }}#}
{#                                    <button type="submit" class="btn btn-success">Комментировать</button>#}
{#                                </form>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endif %}#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#        {% bootstrap_pagination page_obj %}#}
{#    </div>#}
{#{% endblock content %}#}